.child{
    height: 100px;
    width: 100px; 
    display: inline-block;
    margin-right: 20px;
}

.parent{
    height: 133px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

.avatar{
    height: 100%;
    width: 100%;
    position: relative;
}
.avatar > img{
    width: 100%;
}

.avatar > .status{
    height: 20px;
    width: 20px;
    background-color: #cfcfcf;
    border-radius: 50%;
    position: absolute;
    right: -7px;
    bottom: 7px;
    border: 5px solid white;
}


.avatar > .status.connected{
  background-color: rgb(157, 219, 157);
} 

